playsound
gtts
SpeechRecognition
pyaudio
openai
#opencv-python
tensorflow
keras
imageai==2.1.6
torch
torchvision
pillow
pygame
thread6
datetime
opencv-contrib-python
#random
#google-cloud-vision
#os
Flask
Flask-WTF
pygobject
Gst
gstreamer-player
pgi